/*--
Filename: custom.css
Author: Carla Alcantara
Date: June 23, 22;
Index

1- Geral
2- Header
3- Banner
4- Botão Whatsapp
5- 
6- Footer*/

/*Geral*/
*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Tangerine', serif;
    overflow-x: hidden;
}
body h3
{
	color: #d2e301;
	font-size: 2em;
	border-radius: 25px;
	background-color: #58585a;
}

/*Header*/
.menu{
list-style:none;
float:left;
}
.menu li{
position:relative;
float:left;
}
.menu li a{color:#d2e301; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
color:#000;
}
.menu li  ul{
position:absolute;
top:25px;
left:0;
border: 0;
display:none;
font-size: 16px;
}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}
.nav-link img
{
	padding: 0 0 0 20px;
}
/*Banner*/
#banner
{
	background-size: 100%;
	background-image: url("banner-dogs-header2.jpg");
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 35%;
}
/*Patrocinio*/
.patrocinio img
{
	padding: 0 0 0 20px;
}
/*Whatsapp flutuante*/
.whatsapp-button {
	position: fixed;
	z-index: 100;
	right: 15px; 
	top: 140px;	
}
/*Filhotes disponíveis*/
#filhotes p
{
	margin: 10px 0 10px 0;
}
#filhotes h4
{
	padding: 20px;
	font-size: 22px;
	color: #58585a;
}
#filhotes h5
{
	color: #58585a;
	padding: 0 0;
}
#filhotes h6
{
	margin: 10px 0 20px 0;
}
.img-filhote
{
	width: 100%;
	padding: 20px 0;
}
/*Ninhadas*/
#ninhadas h2
{
	font-size: 1em;
	color: #58585a;
}
#ninhadas h4
{
	background: #fc4b81;
	color: #ffffff;
	text-align: center;
	border-radius: 25px;
	margin: 10px 0 40px 0;
	padding: 10px 0 10px 0;
	font-size: 30px;
}
#ninhadas h5
{
	color: #58585a;
}
#ninhadas h6
{
	margin-bottom: 40px;
	color:  #58585a;
}
#ninhadas img
{
	width: 100%;
	margin-bottom: 20px;
}
#ninhadas-dogue img
{
	width: 100%;
	padding: 0 0 10px 0;
}
#ninhadas-dogue h5
{
	color:  #58585a;
}
#ninhadas-dogue h6
{
	color: #58585a;
	padding-bottom: 20px;
}
.versus
	{
	color: #58585a;
	font-size: 7em;
	font-weight: 500;
	z-index: 2;
	padding: 0 -100px 0 -100px;
	margin: 40px 0 20px 0;
}
/*Sobre*/
#sobre
{
	padding: 140px 0 10px 0;
	margin: 10px 0 0 0;
	color: #58585a;
}
#sobre p
{
	font-size: 19px;
	color: #58585a;
	line-height: 35px;
}
#sobre h5
{
	padding: 40px 0 10px 0;
	font-size: 38px;
}
#sobre h6
{
	padding: 0 0 40px 0;
	font-size: 20px;
}
#sobre img
{
	width: 85%;
	padding bottom: 40px;
	margin: 40px 0 10px 40px;
}
/*Palestras e cursos*/
#palestraecursos
{
	padding: 60px 0 0 0;
	color: #58585a;
	line-height: 35px;
}
#palestraecursos p
{
	font-size: 19px;
}
#palestraecursos h4
{
	color: #ff7f50;
	font-size: 45px;
}
/*Botão Ligue agora...*/
#botao
{
	background: #ffffff;
	margin: 70px 0 0 0;
}
#botao a
{
	padding: 10px 25px;
	font-size: 1.2em;
	display: inline-block;
	background: #2ecc71;
	color: #fff;
	border-radius: 50px;
}
/*Padreadores*/
#padreadores
{
	padding: 40px 0 10px 0;
	margin: 40px 0 0 0;
	color: #58585a;
}
#padreadores h2
{
	padding: 10px 0 -20px 0;
	color: #58585a;
}
#padreadores h3
{
	margin: 0 0 40px 0;
}
.rottweiler
{
	margin-left: 50px;
		-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.50);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.50);
}
.img-padread
{
	width: 100%;
	margin: 40px 40px 0 0;

}
/*Matrizes*/
#matrizes .coton-rott-dogue
{
	margin: 40px 40px 0 0;
	width: 100%;
}
#matrizes h5
{
	color: #58585a;
}

/*Hospedagem*/
#hospedagem p
{
	font-size: 19px;
	color: #58585a;
	padding: 100px 30px;
	line-height: 35px;
}
#hospedagem h3
{
	margin: 60px 0 40px 0;
}
#hospedagem h4
{
	color: #ff7f50;
	font-size: 45px;
	padding: 20px;
}
#hospedagem img
{
	width: 100%;
	margin: 20px;
}
#hospeda
{
	margin: -20px 0 100px 0;
}
/*Adestramento Profissional*/
#adestramento img
{
	width: 100%;
	margin: 20px;
}
#adestramento h3
{
	margin: 60px 0 40px 0;
}
#adestramento p
{
	font-size: 19px;
	color: #58585a;
	padding: 100px 30px;
	line-height: 35px;
}
#adestr
{
	width: 100%;
	margin: 20px;
}
#video h4
{
	color: #ff7f50;
	font-size: 45px;
	padding: 20px;
}
/*Banho e tosa*/
#banhotosa h3
{
	margin: 60px 0 40px 0;
}
#banhotosa p
{
	font-size: 19px;
	color: #58585a;
	padding: 100px 30px;
	line-height: 35px;
}
#banhotosa img
{
	width: 100%;
	margin: 20px;
}
#fotos-banho img
{
	width: 100%;
	margin: 20px;
}
/*Depoimentos*/
#depoimentos h3
{
	margin: 60px 0 40px 0;
}
/*Galeria*/
.wrap h3
{
	background: #d2e301;
	color: #58585a;
	padding: 0;
	font-size: 40px;
}
.wrap
{
   overflow: hidden;
   margin: 50px 0 0 0;
   max-width: 1500px;
   margin-left: auto;
   margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
 .boxInner img
 { 
 	width: 100% 
 }
/*-------------teste footer------------*/
#socialmedia .fa-brands
{
	font-size: 35px;
	color: #58585a;
	padding: 0 20px;
}
/*---footer---*/
#footer
{
	background: #d2e301;
	padding-top: 30px;
}
#footer p
{
	font-size: 19px;
}
#footer h3
{
	color: #ffffff;
}
.footer-box
{
	padding: 20px;
	width: 120px;
	color: #58585a;
}
.footer-box p
{
	margin-bottom: 40px; 
}
ul
{
	list-style: none;
	line-height: 30px;
}
#footer .links a
{
	font-size: 15px;
	color: #58585a;
}

.consultoria a
{
	color: #58585a;
}
.celular
{
	font-size: 22px;
}
.footer-box img
{
	margin-bottom: 10px;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	color: #58585a;
}
#logos_canil
{
	padding: 0 0 40px 0;
}


/*--section sobre--*/
#botaosobe
{
	background: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #666666;
}
#botaosobe p
{
	font-size: 20px;
	line-height: 50px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-image: linear-gradient(to right, #8c8c8c,#595959); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

                    @media only screen and (max-width:480px) { 
				    /* Smartphone view: 1 tile */
				    /*Banner*/
					#banner
					{
					padding-bottom: 10%;
					}
					/*Patrocinio*/
					.patrocinio img
					{
						width: 30%;
					}
					/*Whatsapp flutuante*/
					.whatsapp-button 
					{
						position: fixed;
						z-index: 100;
						right: 15px; 
						top: 50px;	
					}
					#ninhadas h4
					{
						font-size: 1.1875em;
						background: #fc4b81;
						color: #ffffff;
						border-radius: 25px;
					}
					/*Ninhadas dogue*/
					#ninhadas-dogue
					{
					background-color: #ededed;
					}
					#ninhadas-dogue img
					{
						padding: 20px 0 10px 0;
					}
					/*versus*/
					.versus
					{
						color: #58585a;
						font-size: 7em;
						font-weight: 500;
						z-index: 2;
						padding: 0;
						text-align: center;
						margin-top: -60px;
						margin-bottom: -20px;
					}
					/*Sobre*/
					#sobre
					{
						padding: 40px 0 10px 0;
						margin: 10px 0 0 0;
						color: #58585a;
					}
					#sobre img
					{
						margin: 0 0 40px 0;
					}
					/*Palestras e cursos*/
					#palestraecursos h4
					{
						color: #ff7f50;
						font-size: 3em;
						margin: -70px 0 20px 0;
					}
					#botao
					{
						margin-top: 40px;
						margin-bottom: -40px;
					}
					/*Padreadores*/
					.rottweiler
					{
						width: 90%;
						margin-left: 20px;
						-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.50);
						-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.50);
						box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.50);						
					}
					.img-padread
					{
						width: 100%;
						margin: 40px 40px 0 0;
						padding-bottom: 10px;
					}
					#padreadores h2
					{
						padding-top: 10px;
					}
					/*Matrizes*/
					#matrizes h5
					{
						padding-top: 10px;
					}
					/*Hospedagem*/
					#hospedagem h4
					{
						font-size: 3em;
					}
					#hospedagem img
					{
						width: 90%;
					}
					#hospedagem p
					{
						font-size: 1.2em;
						color: #58585a;
						padding: 0;
						margin-top: 20px;
					}
					/*Adestramento*/
					#adestramento h3
					{
						font-size: 1.9em;
					}
					#adestramento p
					{
						padding-top: 20px;
						padding-bottom: 20px;
					}
					#adestramento img
					{
						width: 90%;
					}
					#adestr img
					{
						width: 90%;
						margin-bottom: 30px;
					}
					#video h4
					{
						font-size: 3em;
						padding: 20px;
					}
					/*Banho e tosa*/
					#banhotosa p
					{
						font-size: 1.2em;
						padding: 10px 30px;
					}
					#banhotosa img
					{
						width: 90%;
						margin: 20px;
					}
					#fotos-banho img
					{
						width: 90%;
						margin: 20px;
					}
					/*Depoimentos*/
					#depoimentos img
					{
						margin: 0 50px 0 60px;
					}
					.wrap h3
					{
						font-size: 1.9em;
						background-color: #d2e301;
						color: #58585a;
						padding: 0;
					}
					#footer h3
					{
						color: #ffffff;
					}
					#footer
					{
						background: #d2e301;
						padding: 30px 0 0 50px;
					}
					.logos_canil img
					{
						padding: 0 100px 0 100px;
					}
				}

